html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F3F9F8
}

.button {
    background-color: #19C1AF; /* Green */
}

.btn-bg-1 {
    background: #19C1AF;
    color: #fff;
}